$black: #313131;
$grey: #a9a9a9;
$teal: #0ce5e1;
body {
    margin: 0;
    padding: 0;
    background-color: $black;
    font-family: 'Roboto', sans-serif;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}